{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "ignorePatterns": ["webpack.config.js"],
  "rules": {
    "no-console": 2,
    "prettier/prettier": 1,

    "@typescript-eslint/ban-ts-comment": [
      2,
      { "ts-ignore": "allow-with-description" }
    ],
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-unused-vars": [
      2,
      { "argsIgnorePattern": "^_" }
    ],
    "@typescript-eslint/ban-types": [
      2,
      {
        "types": {
          "Function": false
        }
      }
    ],
    "@typescript-eslint/explicit-module-boundary-types": [
      2,
      {
        "allowArgumentsExplicitlyTypedAsAny": true
      }
    ]
  }
}
